[2020-02-24 17:51] drewlr opened #2 "Embed pictures and downloadable notebook"
Hi there, first of all thanks for putting this repo together! We are trying to use it to embed Jupyter notebooks tutorials directly into a docs site.

More than an issue this is a shameless request for features / advice :)

It would be great to:

- have ability to download the notebook directly from the top of the rendered page, similar to what's done here - https://pytorch.org/tutorials/beginner/

[2020-03-22 16:36] ofek commented on #2
@drewlr Does this plugin work with https://github.com/squidfunk/mkdocs-material/issues/1522 ?

[2020-03-22 16:37] ofek commented on #2
@drewlr Does this plugin work with https://github.com/squidfunk/mkdocs-material ?

[2020-03-22 17:30] drewlr commented on #2
@ofek it worked with mkdocs-material - although for now we ended up using https://github.com/jupyter/nbconvert to quickly address embed images in md cells

[2020-03-22 17:40] ofek commented on #2
@drewlr Good to hear, thanks! I wonder if this would work for you https://github.com/greenape/mknotebooks

[2020-03-22 17:57] drewlr commented on #2
@ofek Thanks for the pointer. If I recall correctly, I tried that one as well, and there were some issues with the formatting - hence the jupyter nbconvert + some custom python for a light touch of formatting.

[2020-04-05 07:54] koaning opened #3 "Base Example Breaks"
When running a base example with this notebook;

![image](https://user-images.githubusercontent.com/1019791/78469637-675e1080-7723-11ea-944e-eae9a00f6a98.png)

Then running `mkdocs serve` gives a hard to parse error. This is the trace:

[code]

[2020-04-05 07:57] koaning commented on #3
This error also occurs when `toc` is not a markdown extension and it also occurs when the notebook is not listed in the `nav` to be rendered.

[2020-04-05 08:02] koaning commented on #3
It seems to run fine with mkdocs version 1.0.4. But that version is incompatible with `mkdocstrings`.

[2020-04-05 08:54] koaning commented on #3
To others who may be looking for a solution, there is an alternative plugin called `mknotebooks`. I prefer the style of this package though so I am hoping to help the maintainer fix it.

[2020-04-05 20:47] danielfrg commented on #3
Thanks for the reports and the Pytest PR!
I am interested on keeping this alive so I will take a look when I have the chance!

[2020-04-06 08:57] koaning commented on #3
Sweet. Let me know if you require clarity.

[2020-04-14 11:21] MasterScrat commented on #3
I addressed both these points and it still didn't work for me.

[2020-04-23 10:57] ministp commented on #3
i have a same question

[2020-04-24 02:17] #3 closed

[2020-04-24 02:20] danielfrg commented on #3
Hi all, this is fixed now and released on pypi: https://pypi.org/project/mkdocs-jupyter/0.11.0/

[2020-05-03 04:05] wroscoe opened #6 "Search bar disappears"
When I add this plugin the search functionality is removed from the mkdocs site. Is this a known issue or something with my configuration.

[2020-05-03 04:17] wroscoe commented on #6
Looks like i had to include the search plugin..

[code]

[2020-05-03 04:17] #6 closed

[2020-05-27 12:11] Dukestep commented on #6
Experienced this issue as well with the `mkdocs` theme. Thanks for the fix.

Is this something that should just work out of to box without having to add the `search` plugin?

[2020-05-27 12:21] Dukestep opened #10 "0.12.0 breaks the ToC in notebooks"
When deploying a Jupyter notebook with mkdocs `1.1.2` and and mkdocs-jupyter `0.12.0` the ToC does not render properly.

![image](https://user-images.githubusercontent.com/2139901/83018310-11a33780-9ff3-11ea-8ee4-f0f818a06584.png)

Rolling back to  mkdocs-jupyter `0.11.0` resolves the issue.

[2020-05-27 13:41] danielfrg commented on #10
Thanks for the reports, ill take a look when i have some time!

[2020-05-31 15:54] Sayam753 opened #11 "Issues with jupyter cells and larger LaTeX equations"
Hi @danielfrg

Thanks for this fantastic library. I am loving it. Here are a few issues I have encountered while using `mkdocs-jupyter`. I am very less familiar with CSS/JS so I used hacks to solve these issues.

1. Responsiveness breaks on smaller screens for larger lines in jupyter cells.
![Screenshot 2020-05-31 at 8 51 50 PM](https://user-images.githubusercontent.com/43073325/83356003-b1105380-

[2020-05-31 16:10] Sayam753 commented on #10
Same issue here. Also I would like to mention that ToC is not working as expected in version 0.11.0. It is rendered well but fails to keep track of current reading position. And always the last section of ToC is highlighted. Is this the expected behaviour in version 0.11.0?

[2020-05-31 21:57] danielfrg commented on #11
Thanks for the detailed report and passing allowing those fixes!

I have updated the version of MathJax and that should fix those rendering issues.

For the CSS code for the pre blocks I noticed it only happens with the material theme.
See this screenshot that uses the default theme the default theme without your fix:

<img width="497" alt="Screen Shot 2020-05-31 at 16 50 41" src="https://user-ima

[2020-05-31 21:57] #11 closed

[2020-05-31 22:01] danielfrg commented on #10
I think this was mostly an issue with `mkdocs 1.1.0` and one small change they made on an internal function. It has been fixed on: https://github.com/danielfrg/mkdocs-jupyter/commit/3896cb32ab4ae558a3cf55aa2dd0768416a43a34

Closing now, thanks for the reports!
Let me know other questions or issues you find.

[2020-05-31 22:01] #10 closed

[2020-05-31 22:11] danielfrg commented on #10
Forgot to mention that there is indeed something weird with the material theme where the last item of the TOC is always selected.

This doesn't happen with the default theme so I think there is something related to that. I will try to research and see what can i find.

[2020-06-01 00:29] danielfrg commented on #2
Thanks for the suggestions and reports.

About the embedded images, they should be rendered as part of the Notebook, for example matplotlib plots do work for me, look at the tests notebooks and see if you can reproduce https://github.com/danielfrg/mkdocs-jupyter/tree/master/mkdocs_jupyter/tests/mkdocs

If you want and have time try any newer version but at least on master this should be working.
I

[2020-06-01 00:29] #2 closed

[2020-06-19 16:37] asher-pembroke opened #12 "LaTeX rendering"
I'm having trouble rendering equations with this plugin.

Neither of these work for me:

[code]

With `mknotebooks` I usually have to add the mathjax cdn

[code]
I've also tried swapping this cdn with the one mentioned in #11 but no dice.

[2020-07-27 06:10] Sayam753 commented on #12
Hi @asher-pembroke
After updating the `mkdocs-jupyter` to 0.13.0, I reverted back to use 0.12.0 because there's no LaTeX script [here](https://github.com/danielfrg/mkdocs-jupyter/blob/master/mkdocs_jupyter/templates.py#L7-L8) in 0.13.0 and rendering failed.

[2020-08-14 09:23] gbrault opened #13 "adding overflow-x:scroll; to jupyter-fixes.scss for inner_cell_class"
Hello, thanks for your work: very good component!!!

Just to make it more appealing, when we have long lines in cells it spill over the border.

Adding overflow-x: scroll; to the inner_cell class should fix that -- my guess

[2020-09-06 09:12] Sayam753 opened #14 "Rendering of images failed"
Hi @danielfrg
Thanks a lot for this library. I wanted to discuss the issue long time back. But I completely forgot about this. Here I go -

If I have an image in the same directory as that of my notebook, the image is rendered using markdown syntax in the notebook but fails to show up in the `mkdocs` site.

And I get 404 error of `Image not found` because `mkdocs` is looking for the image in the p

[2020-09-09 18:54] hkennyv opened #15 "admonition support"
Would it be possible to add support for [admonitions](https://python-markdown.github.io/extensions/admonition/) being rendered in markdown cells. I'd be happy to contribute to this too if needed

[2020-09-09 19:04] Sayam753 commented on #15
Hi @hkennyv
The only way I rendered admonitions in mkdocs is to manually wrap the contents into html div tags and then, add suitable css classes. Checkout my blog post https://www.codingpaths.com/gsoc/variational-inference/.

As an example for admonition notes -
[code]

[2020-09-09 19:47] danielfrg commented on #15
Thats how I also do it. I dont think there is an easy way to add the mkdocs md way to the way jupyter converts.

[2020-09-09 21:23] hkennyv commented on #15
gotcha, that makes a lot of sense. thank you both for the replies!

[2020-09-09 21:23] #15 closed

[2020-09-17 18:06] vincentsarago commented on #12
FYI, I also struggle with this. Locally I was able to visualize my jupyter notebook in Mkdocs but on the CI (building web docs) it was failing with
[code]

reverting to `mkdocs-jupyter==0.12` as mentioned by @Sayam753 fixed this error 🙏

[2020-09-18 03:01] Sayam753 commented on #12
Yes @vincentsarago
I once updated nbconvert to `6.0.0` and then CSS for rendering of cells got messed up. So, I reverted back to use `nbconvert==5.6.1`.
One more thing, rendering of LaTeX equations works fine with `mkdocs-jupyter==0.13.0` and `mkdocs-material==5.5.0`. For `mkdocs-material>5.5.0`, the larger LaTeX equations do not get wrapped up and are not responsive as well. I do not know why.

[2020-09-26 18:16] Shoaibashk opened #16 "Error Mathjax.tpl"
notes$ mkdocs serve
[code]

I am using latest version of **mkdocs-jupyter==0.13.0**
Unable to find solution.

[2020-09-26 18:26] Sayam753 commented on #16
Hi @Shoaibashk
I also got this error sometime back. And I resolved it by reverting `nbconvert` to `5.6.1`.
So, can you check if `mkdocs serve` works good after `pip install nbconvert==5.6.1`?

[2020-09-26 18:44] Shoaibashk commented on #16
Yes, **It's Working.**
works great ```pip install nbconvert==5.6.1```
Thanks A lot @Sayam753

[2020-09-26 18:44] #16 closed

[2020-10-02 22:47] MSeal commented on #12
The underlying nbconvert issues should be resolved for this issue. However the template setup looks like it might be slightly incorrect. https://github.com/danielfrg/mkdocs-jupyter/blob/master/mkdocs_jupyter/templates/mkdocs_html/conf.json#L2 should probably be basing off lab since you extend lab settings, which in turn will pull base settings as well. Doing this you should change the [dependency

[2020-10-08 20:53] danielfrg commented on #13
Added this. thanks for the suggestion!

[2020-10-08 20:53] #13 closed

[2020-10-08 20:59] danielfrg commented on #12
Thanks for the info and catching the template setup error MSeal.

I just fixed that and released a new version that pins it to `nbconvert>=6.0.7` and released it on pypi `mkdocs-jupyter==0.15.1`.

On my tests everything works, please create a new issue if this still a problem.

[2020-10-08 20:59] #12 closed

[2020-10-26 22:53] hadim opened #19 "Specify kernel"
I can't enable the `execute` option because the kernel in my notebook are not standard. Could you force the execution using the current kernel?

Full traceback:

[code]

[2020-10-28 14:54] hadim commented on #19
@danielfrg is that something you would be interested in implementing?

[2020-10-28 15:05] danielfrg commented on #19
We should totally add this, it should be relatively easy to pass that info to nbconvert based on an argument on the mkdocs.yml file.

I will do this eventually but I have limited time right now. Are you interested in submitting a PR?

[2020-10-28 15:15] hadim commented on #19
Don't wait for me to implement it but I'll eventually give it a shot at some point.

[2020-10-30 02:08] #19 closed

[2020-11-02 03:27] afeld commented on #14
As a not-ideal workaround, I added

[code]
to the configuration, which fixed it.

[2020-11-03 07:03] afeld opened #21 "support HTML outputs that use RequireJS"
I'm using [Plotly Express](https://plotly.com/python/plotly-express/) to generate charts within my notebooks, and am getting `Uncaught ReferenceError: require is not defined`. The issue seems to be that Plotly is outputting HTML with an embedded `<script>`, which expects RequireJS to be present. I tried making a [custom theme](https://www.mkdocs.org/user-guide/custom-themes/) that inherits from `m

[2020-11-16 11:20] srggrs opened #22 "Table of contents not scrolling with Material Theme"
The Table of contents rendered using notebooks does not scroll down like the one rendered for a markdown document. Does anyone experiencing the same issue?

[2020-11-19 17:51] calmacx commented on #22
I also have the same issue. The top menu also is neither fixed

[2020-11-25 16:01] AndrewEckart opened #23 "Add a copy button to each cell"
It would be great if there was a button to copy the content of each input or output cell (which probably requires a JS solution as described in [this SO answer](https://stackoverflow.com/a/44229929)).

Ideally, the solution would not be dependent on `mkdocs-material`. Currently some of the features of `mkdocs-jupyter` seem tightly coupled with `mkdocs-material`, such as the download button.

This

[2020-11-25 17:34] danielfrg commented on #23
Thats a good suggestion, it should be doable, i will take a look eventually when i work on this.

And yes, its mostly coupled with `mkdocs-material` because its the theme I use and its almost impossible to have it working perfectly for multiple themes because of CSS things.

[2020-12-10 14:02] giswqs opened #24 "Download button missing"
How to enable the download button? Here is my [mkdocs.yml.](https://github.com/giswqs/geemap/blob/master/mkdocs.yml#L24) I looked at other websites with the download button, I could not find settings to enable the download button except the following lines. Thanks.

[code]

https://geemap.org/notebooks/01_geemap_intro/
![](https://i.imgur.com/vVeOA2R.png)

https://developmentseed.org/titiler/examp

[2020-12-20 23:27] vincentsarago commented on #24
Answered in https://github.com/giswqs/geemap/issues/202#issuecomment-748686337

For others looking to do this, you need to `override` the default HTML and add the download button.

See https://github.com/developmentseed/titiler/blob/master/docs/overrides/main.html for example

[2020-12-21 04:28] giswqs commented on #24
@vincentsarago Problem solved. Thank you for your help.

[2020-12-21 04:29] #24 closed

[2021-02-16 16:23] arjunskumar opened #25 "Error reading page 'Untitled.ipynb': basic.tpl"
When include notebook to the mkdocs.yml , I'm getting this error. I have installed the plugins correctly.

Python version : 3.6.9

[2021-03-02 20:01] hkennyv opened #26 "feature request: support for jupyter/ipython cell separator syntax"
Hey, just wanted to say I've used this plugin for a while now and it's been going great, thank you!

I have a feature request, that IMO would be very helpful:

**Support for the jupyter/ipython cell separator syntax `# %%` or `#%%`.**

Many Python IDEs support this type of syntax for interactive IDE support:

- [vscode](https://code.visualstudio.com/docs/python/jupyter-support-py#_jupyter-code-cel

[2021-03-11 04:02] sidhomj opened #27 "pointing to a jupyter notebook via relative path"
I'm making a docs page where I want one of my pages to point to a jupyter notebook in my repo.

right now, my yaml file reads as such:

[code]

However, when trying to run the site, I get the following error:

[code]

Any help would be appreciated to how to get this to work properly!

[2021-03-11 17:02] danielfrg commented on #27
I think this is an mkdocs configuration issue more than the plugin, try adding the notebook file to a child directory instead of a parent one, i think mkdocs needs the files to structured that way.

[2021-03-11 17:02] #27 closed

[2021-03-16 13:26] PaulCCCCCCH commented on #25
Same issue here.
`pip install --upgrade nbconvert==5.5`
Works for me.

[2021-03-16 13:31] arjunskumar commented on #25
Thanks @PaulCCCCCCH

[2021-03-16 13:31] #25 closed

[2021-03-31 04:04] #26 closed

[2021-03-31 04:05] danielfrg commented on #22
These are fixed in the latest version.
Thanks for reporting it.

[2021-03-31 04:05] #22 closed

[2021-04-10 00:15] jessekrubin opened #29 "mkdocs-material slate theme makes text unreadable"
if you set the theme to 'slate' with mkdocs-material, rendered notebooks show up as black-text on dark-grey background. Any suggestions would be appreciated.

[2021-04-11 18:17] hadim opened #30 "Strip out the `In` and `Out` label for code cells"
The css class is `jp-InputPrompt jp-InputArea-prompt`. Tweaking the CSS to add `visiblity: hidden`  to it make it disappear but leave an empty block.

Is there is another way to strip out this HTML block?

[2021-04-12 01:17] danielfrg commented on #30
Right now the only way to do that is changing the CSS as you suggest.

I personally like them but at one point we could make this optional.

[2021-04-12 02:21] hadim commented on #30
Actualy `display: none` should do the job. Will try soon.

[2021-04-12 12:31] hadim commented on #30
I confirm `display: none` works.

[code]

[2021-04-12 12:31] #30 closed

[2021-04-16 21:35] pwwang opened #32 "Specify startup directory for execution"
Is it possible to specify the startup directory when using `execute: True` ?

[2021-04-26 21:02] danielfrg commented on #14
The solution is what afled commented.

Another option is to have the images in another dir inside the `docs` one, for example I usually do `img/post-slug/img.png`
and I include those in the notebook with

[code]

[2021-04-26 21:02] #14 closed

[2021-04-26 21:05] danielfrg commented on #21
I do this for mkdocs-material:  https://github.com/danielfrg/jupyter-flex/blob/master/docs/theme/partials/nav.html#L8-L11

I will close as its not related to the plugin but I agree its very annoying, specially since require break the search box in mkdocs-material. Hopefully this becomes better with future versions of plotly.

[2021-04-26 21:05] #21 closed

[2021-05-01 17:03] hannorein opened #36 "h2 (##) vs h1 (#) headers"
Thanks for writing this plugin! Exactly what I needed.

After reading the readme file, I can see that headers in a Jupyter notebook need to be h2 and not h1 to show up in the TOC. But I wonder why? Where is this limitation coming from and is there a way to change that? I'd like to avoid having to go through all my ipynb files to increasing the heading levels.

[2021-05-01 18:26] danielfrg commented on #36
Yes, thats a "limitation" on how mkdocs handles the TOCs, we dont do anything special on this plugin just read the headers and pass them to mkdocs. Agree thats a bit annoying I have manually changed a lot of those for my docs :S

[2021-05-01 18:26] #36 closed

[2021-05-01 19:05] hannorein commented on #36
Ah. That makes sense. Thanks.

One more related question since I have you here: would it make sense to set the title attribute of the mkdoc page object to whatever nbconvert chooses as the title? I think that would be the first h1 header that appears in the file in most cases. Unless I'm missing something, mkdocs-jupyter is currently not setting any title attribute. So if I want to have a title th

[2021-05-01 19:25] danielfrg commented on #36
Yes, I have noticed that. I am how that can be fixed but there must be a way, would you create another issue for that?

[2021-05-01 19:33] hannorein opened #37 "Making use of title from nbconvert"
mkdocs-jupyter is currently not setting the title attribute in the mkdoc page object. Therefore, if no title is provided manually in the navigation, mkdocs uses the filename.

When nbconvert converts a document it can generate a title (see e.g. the html files it creates). I'm not entirely sure how it determines the title, but it might be the first h1 header it sees I the file. It would be nice if

[2021-05-02 01:27] #37 closed

[2021-06-04 02:54] ChristopherMayes opened #40 "nb2html cannot convert notebooks with an embedded image"
This works:
`jupyter nbconvert --to html has_image.ipynb`

But the converter from this package:
[code]
produces:
`AssertionError: missing attachment: image.png`

I've attached the notebook (zipped)

[has_image.ipynb.zip](https://github.com/danielfrg/mkdocs-jupyter/files/6595446/has_image.ipynb.zip)

Thank you for the great package!

[2021-06-04 16:52] ChristopherMayes commented on #40
This line causes the problem:

https://github.com/danielfrg/mkdocs-jupyter/blob/02bf2dd6e37f4fb5df8beff54d09625b0d03d956/mkdocs_jupyter/nbconvert2.py#L50

[2021-06-10 06:59] AbdealiJK commented on #25
Just documenting here with more details as I got the same issue.

The last version of mkdocs-jupyter which supports python 3.6 is mkdocs-jupyter==0.13.0 (June 2020)
Since then, nbconvert has moved to 6.x (Sep 2020)

So, to use mkdocs_jupyter on python 3.6 - you need to force pip to install an older version of nbconvert.

Ideally to support python 3.6 users - it would be awesome if a backward compa

[2021-06-21 08:51] mrdbourke opened #41 "Headings after "```" not displaying"
Big fan of this repo, thank you so much for creating it.

I've just found an issue when converting notebooks with containing code block ticks in markdown, such as:

![image](https://user-images.githubusercontent.com/16750345/122733820-e1df6580-d2c0-11eb-9d80-e8063f83dc8d.png)

The image above is to show the triple backticks (otherwise GitHub's markdown editor will format them).

If I have a cell d

[2021-06-21 22:49] mrdbourke commented on #41
Update:

I've fixed this.

I realised it was the "#" in the markdown code sections (the ones created with triple backticks)

You can't have any "#" (h1) in markdown sections, otherwise the table of contents will mess up.

Removing the "#" in the markdown code sections fixed my problem.

Old:

[code]

New:

[code]

[2021-06-21 22:49] #41 closed

[2021-08-13 23:46] hhslepicka commented on #40
@danielfrg did you have a chance to look into this issue? Or do you know of a workaround that we could use?

[2021-08-22 02:14] giswqs opened #43 "skip some notebooks being executed"
When setting `execute: True` in `mkdocs.yml`, mkdocs-jupyter executes all notebooks under the `docs` directory. Is it possible to skip some notebooks during execution? For example, some notebooks might contain some interactive functions (e.g., `input()`) that require user input. Such notebooks will fail to execute. As a result, mkdocs fails to build.

[2021-08-22 04:28] danielfrg commented on #43
Not possible at the moment, its all or nothing. It shouldn't be that hard to add another param as a wildcard to filter which nbs to execute.

[2021-09-23 00:15] danielfrg commented on #32
Its not possible to do that, it will always be the mkdocs root directory. I think this is a sane default but I can be convinced otherwise and we can find a way to change this.

[2021-09-23 00:15] #32 closed

[2021-09-23 01:02] #43 closed

[2021-09-23 02:07] danielfrg commented on #40
All you need to do is to change put the images on the `docs` directory and change the path to be relative to that dir.
We actually have a test that does that - [notebook](https://github.com/danielfrg/mkdocs-jupyter/blob/main/mkdocs_jupyter/tests/mkdocs/docs/demo.ipynb) - [setup](https://github.com/danielfrg/mkdocs-jupyter/tree/main/mkdocs_jupyter/tests/mkdocs).

(sorry it took forever, thanks for

[2021-09-23 02:07] #40 closed

[2021-09-23 02:14] #29 closed

[2021-09-24 17:47] #23 closed

[2021-09-25 03:20] giswqs opened #48 "TypeError: macro 'jupyter_widgets' takes not more than 2 argument(s)"
It seems the new version has a bug. The same notebook works fine in the past (v0.17.3), but it is throwing an error now (v0.18.0).

https://github.com/giswqs/leafmap/runs/3704421188?check_suite_focus=true
![image](https://user-images.githubusercontent.com/5016453/134756142-84e194a5-2f77-490a-9081-086511435bbc.png)

[2021-09-25 15:33] danielfrg commented on #48
0.18.0 depends on nbconvert 6.2.0. You can fix it by just upgrading. I will make a new release to pin that dependency.

[2021-09-25 15:38] danielfrg commented on #48
Oh actually its already pinned. I think you might just have to make it explicit on your requirements.txt to fix this issue.

Thanks for the report and pls reopen if you find something else.

[2021-09-25 15:38] #48 closed

[2021-10-25 04:29] taicaile opened #50 "Is it possible to convert `.py` file into a single notebook cell?"
Hello, I would like to know if the .py file can be converted to a single notebook cell, thanks.

By default, it seems that the plugin splits the `.py` file by a new line separator into different notebook cells.

[2021-10-26 16:25] #50 closed, assigned to nobody

[2021-10-30 09:51] fortierq opened #51 "Support for other languages than Python ?"
Hi,
I tried to use mkdocs-jupyter with OCaml notebooks. However, the syntax highlighting is incorrect.
nbconvert works correctly though.
I guess I have to change the CSS. Do you have any advice ?

[2021-10-30 18:23] danielfrg commented on #51
Thanks for the reports, it was just that we had python hardcoded since its the one I use the most.
I am reading now the kernel language name from the ipynb json so it should be fixed on #52.

[2021-10-30 18:55] #51 closed

[2021-10-30 19:11] danielfrg commented on #51
Version `0.18.1` includes the fix. let me know if you find other issues.

[2021-10-31 09:55] fortierq commented on #51
Great ! Thank you.

[2021-10-31 12:48] fortierq commented on #51
Hum... In the notebooks I have, some of them don't have the language field in kernelspec. Only something like this :
[code]
I am adding them manually, but I wonder if this could be an issue with some IDE not adding those.

[2021-10-31 16:21] danielfrg commented on #51
mmm it could be. The nbs I have have it. I added a test and it will default to python just in case.

[2021-11-01 16:41] fortierq opened #53 "Images are not included correctly"
It looks like images included in notebooks are not displayed properly after using mkdocs.
For example :
https://github.com/mp2i-fsm/mp2i-2021/blob/main/0_intro/2_rendu_tp.ipynb contains
[code]
which remains the same in the output https://github.com/mp2i-fsm/mp2i-2021/blob/gh-pages/0_intro/2_rendu_tp/index.html

However, a new folder is created, containing the .html but not the images (which are on

[2021-11-01 16:42] fortierq commented on #53
Remark : I did not test with the standard way of including images in .ipynb (using markdown ![...](...)), maybe it works... But <img> is more flexible

[2021-11-01 16:58] danielfrg commented on #53
This should work but you need to set a path relative to the mkdocs content, for example put the images in `docs/images/img.png`, then use `<img src="/images/img.png>`

[2021-11-01 17:48] fortierq commented on #53
Indeed but it is not very handy: the path will not work when you open your notebook in Jupyter.
mkdocs automatically modifies the path of each image to make it work.
I will try to add it to mkdocs-jupyter by regexp.

[2021-11-01 19:20] danielfrg commented on #53
Yes, its not ideal to not see them in the NB.
It would be interesting to see if you can make it work with mkdocs tooling

[2021-11-04 13:49] fortierq opened #54 "Add note (admonitions)"
Is it possible to add admonitions to notebooks that will be automatically rendered ?
As in https://squidfunk.github.io/mkdocs-material/reference/admonitions/
For example, in a notebook :
[code]

[2021-11-04 13:50] fortierq commented on #54
Sorry, just saw https://github.com/danielfrg/mkdocs-jupyter/issues/15

[2021-11-04 13:50] #54 closed

[2021-11-09 18:47] fortierq commented on #53
I solved it by automatically converting images in notebooks in base64.

[2021-11-09 18:47] #53 closed

[2021-11-09 18:50] fortierq opened #55 "Can't pip install repo"
I am modifying a fork of this project but can't install it via pip & git :
[code]
[code]
`pip install git+https://github.com/danielfrg/mkdocs-jupyter.git` gives the same error message.
Do you know where it comes from and how to solve it ? Is it mandatory to upload my fork on PyPI ?

[2021-11-09 23:39] danielfrg commented on #55
You need to build the JS/CSS part of the project.

In the js directory run `npm install` `npm run build`

[2021-11-10 19:46] fortierq commented on #55
It works, thank you.

[2021-11-10 19:46] #55 closed

[2021-11-11 10:08] fortierq commented on #51
It looks like the code inside markdown cells (such as ```ocaml ... ```) are not highlighted correctly.
For example : https://mp2i-fsm.github.io/mp2i-2021/1_ocaml/tp/tp1/

[2021-11-11 13:44] danielfrg commented on #51
Mmm annoying... i bet those go through a different parser. I'll try to take a look.

[2021-11-29 11:35] astanziola opened #57 "Support mkdocs-material 8"
Hi! First of all, thanks for the amazing package! :)

`mkdocs-material` has released version 8.0.x, however installing `mkdocs-jupyter` downgrades the `mkdocs-material` install to the latest 7.x version. Are there any plans to support the 8.0.x version of mkdocs-material?

[2021-11-29 19:18] danielfrg commented on #57
Yes, its very likely it works already but I pin the packages to major versions.
Material 8 was just released so i will support it when I update my websites to it.

[2021-11-30 16:23] #57 closed

[2021-11-30 16:25] danielfrg commented on #57
Version `0.19.0` is out with support for mkdocs-material 8.

[2021-11-30 17:47] astanziola commented on #57
Thanks a lot for the super-speedy fix :smile:

[2021-12-05 12:13] astanziola commented on #30
Hi @hadim . Where did you add this css code? I've tried to add it ot the `extra.css` file linked to the `extra_css` option in `mkdocs.yml`, but it seems that this setting is overwritten upon building the docs:

![image](https://user-images.githubusercontent.com/3237202/144746012-8ecc1dc3-7700-40e5-98dd-85796f883af9.png)

[2021-12-05 13:10] hadim commented on #30
It depends the theme version I guess. Using `!important` should help.

[2021-12-05 15:25] astanziola commented on #30
That worked perfectly, thank you very much @hadim !

[2021-12-15 16:07] corykinney opened #59 "Support mkdocs-material theme toggle"
The README describes how to implement the Jupyter Lab dark theme for use with the material slate theme:

[code]

Is it possible to support toggling between Jupyter Lab themes when material toggles between themes? This is the implementation of the theme toggle in material:

[code]

I'm not sure if there are any inherent limitations, but I thought this would be an interesting feature request!

[2021-12-15 18:11] danielfrg commented on #59
It could be possible (and a nice to add eventually) with CSS classes or something like that but not something it can do right now.

[2022-01-22 21:56] giswqs opened #63 "Build does not fail even there is an error executing a notebook"
Previously, the build would fail if there is an error executing a notebook. Recently, it seems the build continues even there are errors. Did mkdocs-jupyter recently make changes regarding this behavior? Is possible to force the build to fail if there are errors? I am not sure if this is a mkdocs-jupyter or mkdocs issue.

https://leafmap.org/notebooks/43_search_control/
![](https://i.imgur.com/jUT

[2022-01-26 14:15] cpcloud opened #64 "Difficulties packaging mkdocs-jupyter due to alpha version of poetry"
Awesome project!

I see that `mkdocs-jupyter` is using an alpha version of poetry, which makes it impossible to package using [`poetry2nix`](https://github.com/nix-community/poetry2nix).

I would *love* to use `mkdocs-jupyter` in my projects, but the use of an unreleased version of poetry is preventing me from doing so. nix enforces a unique version of Python packages over the entire dependency cl

[2022-01-26 15:26] danielfrg commented on #63
We haven't made any changes, it could be a change in ipython or ipykernel.
There should  be a param we can pass to those libraries to make it fail.

[2022-01-31 17:49] danielfrg commented on #59
This is solved in version `0.20.0`.

[2022-01-31 17:49] #59 closed

[2022-02-01 13:48] giswqs commented on #63
Do you know what param could we pass to those libraries to make it fail?

[2022-02-11 03:44] giswqs opened #67 "Render ipywidgets"
The readme says that mkdocs-jupyter supports ipywidgets. However, I can't seem to get to to work. Do you happen to have any examples for rendering ipywidgets? Thanks.

Related issue: https://github.com/giswqs/leafmap/issues/85

[2022-02-15 05:09] mrdbourke opened #68 "Subtitles overlapping with notebook text"
Hello,

I'm using mkdocs-jupyter to automatically turn a repo of Jupyter Notebooks into documentation.

It's working fantastic for 95% of my Jupyter Notebooks, however, there's two notebooks which are overlapping with the subtitles for some reason, see the example here:
<img width="1372" alt="Screen Shot 2022-02-04 at 8 19 24 am" src="https://user-images.githubusercontent.com/16750345/153996214-2d

[2022-02-16 06:18] danielfrg commented on #68
Thanks for the links and source!

The issue on the page you posted is the code block `<pre>`. We should be able to fix it. I will try to take a look soon!

[2022-02-21 04:19] mrdbourke commented on #68
Thank you :)

[2022-03-14 14:12] vincentsarago opened #69 "`ipython_genutils` dependency not found"
I'm not sure what changed but my CI is failing right now with `ModuleNotFoundError: No module named 'ipython_genutils'` (see https://github.com/stac-utils/titiler-pgstac/runs/5538467483?check_suite_focus=true)

https://github.com/danielfrg/mkdocs-jupyter/blob/e1af7f626b3ec363193788b466dec6f5122dea5c/mkdocs_jupyter/convert.py#L17

I'll try to dig deeper and open a PR 🙏

[2022-03-14 14:15] vincentsarago commented on #69
ref: https://github.com/jupyter/nbconvert/issues/1725

[2022-03-14 16:15] #69 closed

[2022-03-15 11:04] vincentsarago commented on #69
👋 @danielfrg, thanks for merging the PR 🙏

Do you think it's possible to cut minor release with the fix?

I also realize that I didn't update the changelog, I'll be happy to do it if you want.

[2022-03-15 16:48] danielfrg commented on #69
Yes, I will make a release ASAP. I should be able to do it later today!

[2022-03-15 17:04] vincentsarago commented on #69
THANK YOU 🙏

[2022-03-16 04:56] danielfrg commented on #69
Version `0.20.1` has been released!

[2022-03-23 04:06] AbdealiJK opened #72 "pip going backward to use 0.17.3 in CI"
When I install this package in my CI environment it seems to fallback on 0.17.3 and in my local, it is using the latest version.
I recently started getting the ipython_genutils issue and noticed it was fixed in the latest version.
But then realized my CI is refusing to use the latest version.

On checking the changelog, I realized this was not added for the 0.17.x versions:
https://github.com/dani

[2022-03-23 07:00] AbdealiJK commented on #72
I notice that in the poetry change, the python-requires has changed from: `>=3.7` to `>=3.7.1`
So, python 3.7.0 - will not install the new packages in pypi after that
But I am using `python==3.7.9` - so, that shouldn't be an issue

[2022-03-23 07:29] AbdealiJK commented on #72
Figured it out.
Looks like I was using an older version of mkdocs-material - v6, and this package needs v8
Sorry about the noise - it was an issue with my requirements

[2022-03-23 07:29] #72 closed

[2022-03-24 02:42] mrdbourke commented on #68
Hey @danielfrg, any update on the fix for this?

I tried moving the nav to the left but the issue still occurs (in a slightly different way):
<img width="2032" alt="Screen Shot 2022-03-24 at 12 40 47 pm" src="https://user-images.githubusercontent.com/16750345/159831357-9edf858c-94a0-4017-b3d9-59acafd17118.png">

Is there anything I could do to format things differently?

[2022-03-24 02:51] mrdbourke opened #73 "ERROR - Error reading page '[INSERT_NOTEBOOK_TITLE].ipynb': 'state'"
I'm not sure what's going on when converting a notebook I've been working on.

You can see the original notebook here: https://github.com/mrdbourke/pytorch-deep-learning/blob/main/03_pytorch_computer_vision.ipynb

The error I'm getting is:
[code]

The full traceback is:

[code]

I'm not quite sure where to even start with this one.

I'm going to be stepping back through the error.

But I've tried

[2022-03-24 05:50] mrdbourke commented on #73
Fixed this.

Turns out it was some weird way that Google Colab saved Jupyter Cells...

If you install a library in Google Colab and have to restart the runtime, then save the updated notebook, I feel like that's what causes it.

Though I didn't find conclusively what happened...

To fix it I manually copied every cell from one notebook to a *new* notebook via Jupyter Lab on local host (not Google

[2022-03-24 05:50] #73 closed

[2022-04-11 13:37] andynameistaken opened #75 "Copy Button Ignores Theme and Include Source Doesn't Work"
## Config
[code]

## With Light Theme

<img width="808" alt="image" src="https://user-images.githubusercontent.com/15692002/162750125-f87bd044-2276-4ee1-8277-283322d4d345.png">

## With Dark Theme
![image](https://user-images.githubusercontent.com/15692002/162751326-749d4079-90be-4079-ae92-1a4c8a1fdd1d.png)

[2022-04-11 13:58] andynameistaken commented on #75
It looks like themes are not working in general, regular `dark` or those from `jupyterthemes` package:

<img width="714" alt="image" src="https://user-images.githubusercontent.com/15692002/162755529-038e4161-d640-4609-a3a3-5668ab8f20d4.png">

[2022-04-17 04:09] #63 closed

[2022-04-28 18:05] jonathanindig opened #78 "Error with new version of Pygments (2.12.0)"
👋 Hi! First off, thank you for this project, it's really handy!

I tried installing it today in an environment with the latest version of Pygments - [2.12.0 (released 4 days ago)](https://github.com/pygments/pygments/releases/tag/2.12.0) and ran into an error converting [your demo notebook](https://github.com/danielfrg/mkdocs-jupyter/blob/main/mkdocs_jupyter/tests/mkdocs/docs/demo.ipynb):
[code]

[2022-05-04 20:29] #78 closed

[2022-05-04 20:29] #68 closed

[2022-05-09 02:09] matthewwardrop opened #80 "Update pypi"
Hi! Version 0.21.0 solves some compatibility issues, and we'd love to be able to simply install it from PyPI. Would it be possible to push 0.21 to the PyPI?

[2022-05-09 04:04] danielfrg commented on #80
Forgot to do it :)

Its done now.

[2022-05-09 04:04] #80 closed

[2022-05-09 04:36] matthewwardrop commented on #80
Thank you!

[2022-05-31 09:02] Realvincentyuan commented on #6
Encountered into this, too with the 0.13 version as this is the only valid version in my company.

Adding `search` explicitly also does not work, the latest mkdocs-materials version is 8.2.19

[2022-06-14 13:05] leonyi168 opened #81 "nice tool, any configuration could hide python code, only display output?"
as the title.

thanks

[2022-06-14 17:30] danielfrg commented on #81
Not currently but we should add an option to do that.

[2022-06-17 18:46] sg-s opened #82 "this is great! any way to hide the cell #?"

[2022-06-17 19:35] sg-s opened #83 "plotly plots don't work, even on the demo page."
See:

<img width="699" alt="Screen Shot 2022-06-17 at 3 35 05 PM" src="https://user-images.githubusercontent.com/6005346/174390674-d041d901-9a79-460d-a656-66258134166b.png">

[2022-06-24 01:13] Realvincentyuan opened #84 "How to add tags on top of the template?"
# Question
Looks like it does not have an explicit solution to add tags in the page rendered based on a Jupyter file, is there any workaround?

# Reference

- setting up tags in the mkdocs-material theme: https://squidfunk.github.io/mkdocs-material/setup/setting-up-tags/?h=tags

[2022-07-11 16:28] andynameistaken opened #85 "Infinite converting after modifying text"
## What happens?

If in `mkdocs.yml`:
[code]
and  command `mkdocs serve` is running
and any *.ipynb is modified
then `mkdocs serve ` goes into infinite loop of converting notebooks instead waiting for change

## Desired Outcome
`mkdocs serve` should wait for a file modifications and convert file again if next change occurs.

[2022-07-13 09:02] omri374 opened #86 "Is it possible to add a link to the source notebook on Github?"
Thanks for the awesome package! we use it in [Microsoft Presidio](https://github.com/microsoft/presidio).

In addition to a download button, is it possible to add a link to source? For some users, notebooks might be easier to view on Github.

[2022-07-17 22:34] oceanumeric commented on #82
Check out this post: https://oceanumeric.github.io/blog/2022/jupyter-style/

[2022-07-17 22:34] oceanumeric commented on #81
I did something like this: https://oceanumeric.github.io/blog/2022/jupyter-style/

[2022-07-17 23:49] sg-s commented on #82
thanks @oceanumeric ! that's great -- where do i put the extra.css file?

[2022-07-18 07:39] oceanumeric commented on #82
@sg-s my pleasure. Put it under the `stylesheet` folder and update your `yml` file like this:

<img width="839" alt="Screen Shot 2022-07-18 at 9 38 19 AM" src="https://user-images.githubusercontent.com/79036899/179464662-09026953-76d3-4b58-a2cc-2c8b8199ef0b.png">

[2022-07-18 08:58] oceanumeric commented on #82
@sg-s by the way, I just updated the `css` file and make the website to have a consistent theme when it is switched to the dark model.

[2022-07-18 09:03] oceanumeric commented on #75
@andynameistaken , hey, check out this post: https://oceanumeric.github.io/blog/2022/jupyter-style/

[2022-07-19 18:37] andynameistaken opened #88 "Copy Button Visible Through Titlebar"
- Theme: `mkdocs-material`

![image](https://user-images.githubusercontent.com/15692002/179824238-dcd355db-70cc-4877-904e-230473162613.png)

[2022-07-22 17:37] asher-pembroke opened #90 "include but ignore"
Consider the following setup, where I want to include just one notebook but ignore all the others

[code]

The following lines cause both of these conditions to match, so the file is not included

https://github.com/danielfrg/mkdocs-jupyter/blob/d751a767628f95284738a0423bbeeced37dba3a1/mkdocs_jupyter/plugin.py#L63

As a workaround, I've tried excluding files explicitly, but all subdirectories have

[2022-07-22 17:56] asher-pembroke opened #91 "execution path"
My notebooks fail because nbconvert is not executing within the notebook directory. How does one specify the directory where the notebook is executed?

[2022-08-12 00:54] tonylee2016 opened #92 "Unicode strings with encoding declaration are not supported."
ERROR    -  Error reading page 'xxxx/xxx.ipynb': Unicode strings with encoding declaration are not supported. Please use bytes input or XML fragments without declaration.

its related to lxml

  File "src/lxml/etree.pyx", line 3254, in lxml.etree.fromstring
  File "src/lxml/parser.pxi", line 1908, in lxml.etree._parseMemoryDocument

[2022-08-12 01:14] tonylee2016 commented on #92
workaround: put # coding: utf-8 in the notebook

[2022-08-12 01:19] tonylee2016 commented on #92
I believe it is not related to package, closing the issue

[2022-08-12 01:19] #92 closed

[2022-08-12 01:30] tonylee2016 opened #93 "not working if notebook is placed under a relative path"
if the notebook is placed in a subfolder, mkdocs will execute but the page will not display successfully, the navigation link will lead to xxx\sites\notebook.ipynb, with the extra extension.

[2022-08-12 15:54] jayqi commented on #92
I ran into this issue as well.

@tonylee2016 can you please clarify where you think this error is originating from? Is it nbconvert or lxml? I haven't found issues in any other projects that seem to be related to this.

[2022-08-12 19:28] tonylee2016 commented on #92
its nbconvert, I think it calls lxml. In my case, one cell in my notebook is using [schemdraw](https://schemdraw.readthedocs.io/en/latest/). After I clear the output in that cell, it worked.

[2022-08-12 19:29] tonylee2016 commented on #92
its nbconvert, I think it calls lxml. In my case, one cell in my notebook is using [schemdraw](https://schemdraw.readthedocs.io/en/latest/). After I clear the output in that cell, it worked.

[2022-08-16 09:41] Tina0330 opened #94 "TemplateNotFound: mkdocs_html/assets/mkdocs-jupyter.css"
running `python -m mkdocs gh-deploy` encountering the error like this:
![image](https://user-images.githubusercontent.com/86669014/184848650-30b8f3a7-ddbe-4833-a9fc-687ca638f9a5.png)
, and I checked my related package versions:

- mkdocs==1.3.1
- mkdocs-material==8.3.2
- mkdocs-jupyter==0.21.0
- jinja2==3.0.3

Could anyone help me look at this?

[2022-08-24 22:26] giswqs opened #96 "jinja2.exceptions.TemplateNotFound: basic.tpl"
Ran into this issue. Any advice?

- mkdocs-1.3.1
- mkdocs-jupyter-0.13.0
-  mkdocs-material-8.2.11

https://github.com/giswqs/geospatial/runs/8005207114?check_suite_focus=true
![image](https://user-images.githubusercontent.com/5016453/186534149-0d7b4615-1c9e-406f-8b64-8a9ad6d3e989.png)
![image](https://user-images.githubusercontent.com/5016453/186534060-d135fa1e-638c-4e86-bc75-b4a2eca46040.png)

[2022-08-25 15:36] vincentsarago commented on #96
I'm getting the same error when trying to generate titiler documentations https://github.com/developmentseed/titiler/runs/8014258687?check_suite_focus=true There seems to be a version conflicts somewhere in either mkdocs-jupyter or nbconvert 🤷

[2022-08-25 15:52] vincentsarago commented on #96
Update: if you force `nbconvert==6.5` then it works well

https://github.com/developmentseed/titiler/blob/master/.github/workflows/deploy_mkdocs.yml#L33

[2022-08-26 13:23] srush opened #97 "Documenting functions"
Thanks for the amazing library.

We're using it to document the chalk-diagrams project https://chalk-diagrams.github.io/api/shapes/#polygons and the notebook format is amazing for joining code and docs.

However I was curious if there is a better way to document functions. Currently I'm calling out to render them in html. But it feels a bit ugly. Is it at all possible to intersect with mkdocstring

[2022-08-26 13:28] hugolytics opened #98 "How to include notebooks located outside of the docs folder?"
I put all my notebooks in a /notebooks folder, since we usually use notebooks non exclusively for documentation purposes.
So how can i specify in the mkdocs.yml the path to my notebook?
I've tried

  - mkdocs-jupyter:
      include: ["./notebooks/*.ipynb"]

and
nav:
   - Example:./notebooks/my_notebook.ipynb

however, i can't seem to tell mkdocs-jupyter to use this path.

[2022-09-04 13:29] hadim commented on #40
I am having the same issue. I would prefer to use the embedded images instead of having to copy them to the dir structure.

[2022-09-04 13:34] hadim commented on #40
It works by commenting `"markdown2html": custom_markdown2html,`. Would that be possible to make it work? At least behind an option?

[2022-09-06 15:27] pjbull commented on #92
Looks like there was a partial fix here: https://github.com/jupyter/nbconvert/pull/1837
And finishing that is tracked here: https://github.com/jupyter/nbconvert/issues/1849

[2022-09-08 05:54] audunsh commented on #67
I would also really appreciate more information on this. NBConvert has this support, but for some reason it does not work with mkdocs-jupyter. I've even included the extra javascripts in the build without any success.

[2022-09-21 14:51] sg-s commented on #82
@oceanumeric thank you so much for your help. i used your suggestions and i have something that looks like this now:
<img width="726" alt="Screen Shot 2022-09-21 at 10 50 34 AM" src="https://user-images.githubusercontent.com/6005346/191537158-376bf9fe-8d4d-44bc-abd8-faec30ed5aa7.png">

(that's the input code cell, collapsed). is there some way to make the gray border go away? i've tried to inspect

[2022-09-21 15:45] oceanumeric commented on #82
@sg-s you are welcome. It should not be like that. Could you copy your css file here? I will have a look and try to fix it. Or try to add the following code to your css file.

[code]

[2022-09-21 16:31] sg-s commented on #82
@oceanumeric thank you!

this is what i'm using (copied from your code):

[code]

[2022-09-30 02:52] xmnlab opened #99 "how to include metadata"
Hi everyone,

is there any way to add [mkdocs metadata](https://www.mkdocs.org/user-guide/writing-your-docs/#meta-data) inside a jupyter notebook?

thanks

[2022-10-01 13:13] smarie opened #100 "`mkdocs-jupyter` and `mkdocs-gallery` do not play well together"
Hi, I was playing with this nice plugin, trying to create a "template" repo where users could either

 - use `mkdocs-jupyter` to start with an `ipynb`
 - or use `mkdocs-gallery` to start with a `py` (similar to sphinx-gallery, since mkdocs-gallery is a copy of it)

However for some reason when I activate both plugins at the same time, `mkdocs-jupyter` does not see the files anymore.

I guess that

[2022-10-05 19:27] fgebhart opened #101 "Embedding Jupyter Cells into existing Markdown Files"
Thanks for this great tool!

I'm currently playing around with it and would love to accomplish the following:
I have a bunch of `.md` files within my `docs/` folder which are rendered as expected. Within those `.md` files I'm making use of the markdown metadata section e.g.
[code]
Now I want to leverage mkdocs-jupyter to embed a jupyter notebook/cells into the given `.md` files in order to make us

[2022-10-05 22:44] danielfrg commented on #101
You should be able to have mkdocs-material markdown syntax inside the jupyter notebook markdown cells. Adding Jupyter notebook cells to .md cells is not possible.

[2022-10-09 15:53] Dref360 opened #102 "Can we add caching between compilations?"
Hello!

It currently takes ~10 seconds to run `nbconvert` on all our notebooks. I need to compile often when editing parts of the documentation using `mkdocs serve`.

Do you think it would make sense to cache the resulting markdown files between compilations?

With a bit of guidance, I can add this feature if you agree that it would be valuable.
Thanks!

[2022-10-09 17:42] danielfrg commented on #102
Yes, it's been on my backlog for a while because it gets very annoying.

It should not be that difficult by looking at the notebook modified time, most of the work (if not all) should be on https://github.com/danielfrg/mkdocs-jupyter/blob/main/mkdocs_jupyter/plugin.py

[2022-10-15 21:24] Dref360 commented on #102
Hmm seems like `mkdocs build --dirty` does the trick. Sorry for the trouble.

[2022-10-15 21:25] #102 closed

[2022-10-27 18:02] theorashid commented on #98
Try using a symbolic link from the docs folder back to the notebooks folder. Like [this](https://github.com/thomaspinder/GPJax/tree/master/docs).

I haven't tested it, but from the docs folder, something like:

`ln -sr ../notebooks examples`

will create a link in the docs folder back to notebooks. Then you can specify:
[code]

[2022-11-01 12:42] RaczeQ opened #103 "Allow option to disable copy-clipboard functionality and enable RequireJS back"
A while back there was issue #21 about RequireJS in notebooks.
Since #47, RequireJS has been removed and any attempt to bring it back results in a conflict between those two.

Is there any option (like in jupyter-flex) to somehow enable RequireJS?

https://github.com/danielfrg/mkdocs-jupyter/blob/98617201d891d46de7f734ab81b249913d77e29c/mkdocs_jupyter/templates/mkdocs_html/notebook.html.j2#L10-L27

[2022-11-09 14:46] sg-s opened #105 "mkdocs-jupyter does not play well with squidfunk's material theme"
specifically, [admonitions](https://squidfunk.github.io/mkdocs-material/reference/admonitions/) don't work at all (within notebooks)

[2022-11-18 15:13] cory-kinney commented on #97
I've been have the same issues, specifically I would love to use mkdocstrings' cross-references functionality to link documentation like `[full.path.object][]`. This could be related to #105 as well, as it seems the output of mkdocs-jupyter doesn't get any further processing with how the pipeline is set up.

[2022-11-23 05:39] abadithela commented on #14
Hi, I'm trying to use the method suggested by @danielfrg above but the image still does not render. I created a separate folder in docs called imglib and put all my figures there. The docs folder also contains my Jupyter notebook at the following directory: case_studies/evaluating_perception/simple_script.ipynb . This case studies folder in docs is actually a symbolic link to the case studies fold

[2022-11-25 10:08] tvdboom opened #107 "Plotly plots not showing"
Is there a way to make plotly plots show? Right now they appear blank.

[2022-11-26 13:29] #96 closed

[2022-11-28 11:52] tvdboom commented on #107
I solved the issue myself. Apparently the plotly plots don't render properly because the html page contains a part that isn't necessary. Removing that part solves the issue.

Using the [mkdocs-simple-hooks](https://github.com/aklajnert/mkdocs-simple-hooks) library you can create a plugin that changes the necessary html like this:

[code]

To keep the search index small (if it's too large it doesn'

[2022-11-28 11:52] tvdboom commented on #83
See #107